<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" style="font-size: 2.2rem; font-weight: bold; color: red; text-align: center;">
    <ul style="list-style-type: none; padding: 0;">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>