<h1>Profil Sayfası</h1>

<p><strong>Username:</strong> <%= @user.username %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Status:</strong> <%= @user.status %></p>

<%= link_to 'Profilimi Düzenle', edit_user_registration_path %>  <!-- Kullanıcı düzenleme sayfasına link -->
